

                    <tr>
                        <td><%= gym.name %></td>
                        <td><%= gym.phone %></td>
                        <td><%= gym.address %></td>
                        <td>
                            <%= link_to '詳細', gym_path(gym.id),class:"btn btn-secondary btn-sm" %>
                            <i class="fa fa-アイコン名" aria-hidden="true"></i>
                        </td>
                    </tr>                               
