<%= render partial: "layouts/header", locals: { team: @team } %>

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="7000">
      <img src="assets/image1.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>あなたの得意を活かしませんか？</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="7000">
      <img src="assets/image2.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>近隣のフィットネスクラブが探せます</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/image3.jpeg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>さあ、すぐにはじめましょう！</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="input-group mb-3">
  <%= form_with(url: search_gyms_path, local: true, method: :get, class: "form-control") do |form| %>
    <%= form.text_field :keyword, placeholder: "店舗名・所在地で検索する", class: "form-control" %>
    <%= form.submit "検索", class:"btn btn-outline-secondary" %>
  <% end %>
</div>


